@{
    ViewData["Title"] = "Index";
}
<div class = "container">
<p>Nombre: @ViewBag.User.Nombre</p>
<p>Nombre de Usuario: @ViewBag.User.UserName</p>
<p>Email: @ViewBag.User.Email</p>
<p>Teléfono: @ViewBag.User.Telefono</p>
</div>