@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <form action='@Url.Action("CambiarContrasena")' method="post" class="CambiarContrasena" onsubmit="return validarFormulario()">
        <h2>Cambiar Contrase単a</h2>
        <div class="formulario">
            <label for="Contrasena">Nueva Contrase単a</label>
            <input type="password" name="nuevaContrasena" required>
            <p id="errorContrasena" class="error-message"></p>

            <label for="Contrasena2">Confirmar Contrase単a</label>
            <input type="password" name="Contrasena2" required>
            <p id="errorConfirmarContrasena" class="error-message"></p>

            <input type="hidden" name="UserName" value="@ViewBag.user.UserName">
        </div>
        <button type="submit" class="boton-submit">Cambiar Contrase単a</button>
    </form>
</div>