@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <a href='@Url.Action("SignIn", "Account")'>
        <button type="button" class="boton-b"> Registrarse </button>
    </a>

    <a href='@Url.Action("LogIn", "Account")'>
        <button type="button" class="boton-b"> Iniciar Sesión </button>
    </a>
</div>