@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <form action='@Url.Action("VerificarLogIn")' method="post" class="LogIn">
        <h2>Iniciar Sesión</h2>
        <div class="formulario">
            <label for="UserName">Nombre de Usuario:</label>
            <input type="text" name="UserName" required>
            <label for="Contrasena">Contraseña:</label>
            <input type="password" name="Contrasena" required>
        </div>
        <button type="submit" class="boton-submit">Log In</button>
    </form>

    <a href='@Url.Action("RecuperarContrasena", "Account")'>
        <button type="button" class="boton-b"> Olvide mi Contraseña</button>
    </a>
        <p class = "error-message">@ViewBag.MensajeErrorLogIn</p>
</div>