USE [master]
GO
/****** Object:  Database [DB_LOGIN]    Script Date: 11/10/2023 23:33:53 ******/
CREATE DATABASE [DB_LOGIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_LOGIN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\DB_LOGIN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_LOGIN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\DB_LOGIN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_LOGIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_LOGIN]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/10/2023 23:33:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [UserName], [Contrasena], [Nombre], [Email], [Telefono]) VALUES (1, N'manolin', N'Contrasena1*', N'manolo', N'manolo@gmail.com', N'1')
INSERT [dbo].[Usuario] ([idUsuario], [UserName], [Contrasena], [Nombre], [Email], [Telefono]) VALUES (2, N'manolinaas', N'Contraseña3*', N'sadas', N'dasdaads@ds.com', N'1')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
