html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h2 {
  color: rgba(227, 218, 201, 0.8);
}

a {
  text-decoration: none;
}

body {
  margin: 20px 60px 0px 20px;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 10px 0px 20px 0px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/Images/Fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  text-align: center;
  background-color: rgba(0, 70, 100, 0.5);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease;
  min-width: 400px;
  max-width: 400px;
  margin: 0 auto;
}

.formulario {
  margin: 0;
}

.formulario label {
  display: block;
  margin: 0;
  margin-top: 10px;
  color: rgba(227, 218, 201, 0.8);

}

.formulario input {
  width: 95%;
  padding: 10px;
  margin: 5px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.error-message {
  color: red;
}

.boton,
.boton-submit {
  padding: 12px 24px;
  font-size: 20px;
  background-color: rgba(0, 255, 255, 0.2);

  color: rgba(227, 218, 201, 0.8);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10%;
  margin-bottom: 5%;
}

.boton:hover,
.boton-submit:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

.boton-b,
.boton-b-submit {
  padding: 12px 24px;
  font-size: 20px;
  background-color: rgba(0, 255, 255, 0.2);
  color: #e3dac9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton:hover,
.boton-submit:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}